*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
  background-color: #040404;
}

@font-face {
    font-family: "Ember";
    font-style: normal;
    font-weight: 500;
    src: url("./Asset/fonts/Ember/AmazonEmber_Rg.ttf") format("truetype");
  }

  @font-face {
    font-family: "Ember";
    font-style: italic;
    font-weight: 500;
    src: url("./Asset/fonts/Ember/AmazonEmber_RgIt.ttf") format("truetype");
  }

  @font-face {
    font-family: "Ember";
    font-style: normal;
    font-weight: 400;
    src: url("./Asset/fonts/Ember/AmazonEmber_Th.ttf") format("truetype");
  }

  @font-face {
    font-family: "Ember";
    font-style: italic;
    font-weight: 400;
    src: url("./Asset/fonts/Ember/AmazonEmber_ThIt.ttf") format("truetype");
  }

  @font-face {
    font-family: "Ember";
    font-style: normal;
    font-weight: 900;
    src: url("./Asset/fonts/Ember/AmazonEmber_Bd.ttf") format("truetype");
  }

  @font-face {
    font-family: "Ember";
    font-style: italic;
    font-weight: 900;
    src: url("./Asset/fonts/Ember/AmazonEmber_BdIt.ttf") format("truetype");
  }